<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
   <head>
      <title>
         Composited Images
      </title>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="static/styles/main.css">
   </head>
   <body>
               <!-- <img src="../static/tampered/output.jpg"> -->
      <div id="container">
         <div id="search_console">
            <div id="imresults">
               Lane Line is being identified and segmented
               <br/>
               <table  align="center">
               <tr>
                  <td><img src="{{ image_name }}" height="400px" style="padding-top:'5px'"></td>
               </tr>
               </table>
               <br>
               Pretty cool ! Right ?
               
            </div>
         </div>
      <script type="text/javascript" src="static/scripts/lib/jquery-1.7.1.min.js"></script>
   </body>
</html>
