<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="static/styles/bootstrap.min.css" rel="stylesheet">
    <link href="static/styles/home.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/scripts/scripts.js"></script>
    <title>Project Page</title>
  </head>
  <body>
      <header class="header">
        <div class="container">
          <div class="header__logo">
            <img src="static/staticimages/ucr-education-logo-columbia-university.png" alt="logo" class='logo'>
          </div>
          <div id="title" class="header__title">
            <h3><a href="https://www.ee.columbia.edu/~cylin/course/bigdata/">EECS E6895: Advanced Big Data and AI</a><br>
            Electrical Engineering, Columbia University</h3>
          </div>
        </div>
      </header>

      <div class="container">
        <div class="row sampleimages">
          <div class="col-md-12 Overview">
          	<center><h2 class="head">D8 : Advanced Driver Assistant System Components</h2></center>
            <center><h3 class="names"><a href="https://iriyagupta.github.io/">Riya Gupta</a> , <a href="https://www.ee.columbia.edu/content/ching-yung-lin">Prof. Ching-Yung Lin</a></h3></center>
          </div>
        </div>
        <div class="row-samples">
          <h4 id ="technical">Introduction</h4>
          <p> The motivation for this project is to address and understand the current research trends in the field of autonomous driving. Plethora of tasks like image segmentation, pedestrian detection, object detection and classification, semantic understanding of the environment etc have already been performed and a lot of research has been already going on in the field of autonomous driving assistant systems.<a href="#data"> below</a><br>
            Autonomous driving is a field of science and engineering where the transportation is made autonomous in a way that it reduces manual intervention and learns from the interactive experience with the real-world environment. In broad description, a machine learns and makes decisions on the basis of that learning to take the next steps. 
            Autonomous learning can also be divided into two parts which are:
            <ul>
              <li>Self-Driving - have a driver/human sitting behind the vehicle</li>
              <li>Automated/Fully autonomous - does not have a driver</li>
            </ul> 
          </p>
          <div class="col-md-12 Overview">
            <h5></h5>
          </div>
          <div class="col-md-12">
            <div class ="column-images">
              <figure>
                <img src="static/staticimages/components.png" class ="samples">
                <figcaption class="figures">General components of ADAS</figcaption>
              </figure>              
            </div>
          </div>
          <br>
          <div class="col-md-12 Overview">
            <h5>ADAS Subtasks Demo</h5>
            <p><a href="/upload">Lane Line Detection</a></p>
            <p><a href="/upload">Traffic Sign Classifier</a></p>
            <p><a href="/upload">Traffic Signal Classifier</a></p>
          </div>

        </div>
        </div> 

  </body>
</html>
